<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Welcome to Blog Ninja, your one-stop destination for a wide range of topics and interests! At Blog Ninja, we're committed to delivering diverse and engaging content that caters to all kinds of interests and passions.</p>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
